# Custom config to run Shiny server in Google Cloud Run; see
#   https://github.com/randy3k/shiny-cloudrun-demo

disable_protocols websocket xdr-streaming xhr-streaming iframe-eventsource iframe-htmlfile xdr-polling iframe-xhr-polling;

run_as shiny;

server {
  listen 3838;

  # For debugging if logs aren't helpful:
  # sanitize_errors false;

  location / {
    site_dir /srv/shiny-server;

    log_dir /var/log/shiny-server;

    directory_index off;
  }
}
